<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
<form th:action="@{/chat}" method="post" th:object="${chatForm}">
    <!-- now relying on Auth to provide username -->
    <!--    <label for="username">Username:</label>-->
    <!--    <input id="username" type="text" th:field="*{username}">-->
    <label for="messageText">Message Text:</label>
    <input id="messageText" type="text" th:field="*{msg}">
    <label for="messageType">Message Type: </label>
    <select id="messageType" th:field="*{type}">
    <--TODO change to loop over enum?-->
        <option selected value="0">Say</option>
        <option value="1">Shout</option>
        <option value="2">Whisper</option>
    </select>
    <input type="submit">
</form>
<!--logout code from skouda https://stackoverflow.com/a/36448949/8049500-->
<a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="SignOut"/>
</form>
<h1 id="outputText" th:each="msg: ${msgList}" th:text="${msg}"></h1>
<!--<h1>here</h1>-->
</body>
</html>